In [1]:
import pandas as pd

veri = {
    "Film Adı": ["Inception", "Interstellar", "The Matrix", "The Godfather", "The Dark Knight", "Parasite"],
    "Tür": ["Bilim Kurgu", "Bilim Kurgu", "Aksiyon", "Suç", "Aksiyon", "Dram"],
    "Yıl": [2010, 2014, 1999, 1972, 2008, 2019],
    "IMDB Puanı": [8.8, 8.6, 8.7, 9.2, 9.0, 8.6]
}

df = pd.DataFrame(veri)
print(df)

          Film Adı          Tür   Yıl  IMDB Puanı
0        Inception  Bilim Kurgu  2010         8.8
1     Interstellar  Bilim Kurgu  2014         8.6
2       The Matrix      Aksiyon  1999         8.7
3    The Godfather          Suç  1972         9.2
4  The Dark Knight      Aksiyon  2008         9.0
5         Parasite         Dram  2019         8.6

In [2]:
#type
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns = ["Movie name","Genre","Year","IMDB Rating"]   #Sütun isimlerini değiştirmek için .columns kullanılır.
df

        Movie name        Genre  Year  IMDB Rating
0        Inception  Bilim Kurgu  2010          8.8
1     Interstellar  Bilim Kurgu  2014          8.6
2       The Matrix      Aksiyon  1999          8.7
3    The Godfather          Suç  1972          9.2
4  The Dark Knight      Aksiyon  2008          9.0
5         Parasite         Dram  2019          8.6

In [10]:
#Genel yapısını incelemek için head() kullanılır. Daha büyük veri dataframeler için kullanışlıdır.
df.head()

        Movie name        Genre  Year  IMDB Rating
0        Inception  Bilim Kurgu  2010          8.8
1     Interstellar  Bilim Kurgu  2014          8.6
2       The Matrix      Aksiyon  1999          8.7
3    The Godfather          Suç  1972          9.2
4  The Dark Knight      Aksiyon  2008          9.0

In [11]:
#Son satırları görmek için tail() kullanılır.
df.tail()

        Movie name        Genre  Year  IMDB Rating
1     Interstellar  Bilim Kurgu  2014          8.6
2       The Matrix      Aksiyon  1999          8.7
3    The Godfather          Suç  1972          9.2
4  The Dark Knight      Aksiyon  2008          9.0
5         Parasite         Dram  2019          8.6

In [12]:
#Sütun veri tipi,satır sayısı gibi bilgileri görmek için info() kullanılır.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie name   6 non-null      object
 1   Genre        6 non-null      object
 2   Year         6 non-null      int64
 3   IMDB Rating  6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [17]:
#İstenilen satır ve sütun seçmek için loc ve iloc kullanılır.
#loc, etiket (satır/kolon adı) kullanarak veri seçmeye yarar.
#iloc, indeks (sıra numarası) kullanarak veri seçmeye yarar.
df.iloc[0]

Movie name       Inception
Genre          Bilim Kurgu
Year                  2010
IMDB Rating            8.8
Name: 0, dtype: object

In [19]:
df["Year"][2]   #Hem satır hemde sütun seçerek tablodaki veri seçilir. Year sütundaki 2. indeks(3.satır) değeridir.

1999

In [20]:
#Temel istatistik bilgilerini görmek için .describe() kullanılır.
df.describe()

              Year  IMDB Rating
count     6.000000     6.000000
mean   2003.666667     8.816667
std      16.883917     0.240139
min    1972.000000     8.600000
25%    2001.250000     8.625000
50%    2009.000000     8.750000
75%    2013.000000     8.950000
max    2019.000000     9.200000

In [23]:
#Sütunda hangi kategorik değişkenlerin kategorik yer aldığını görmek için .unique() kullanılır.
df["IMDB Rating"].unique()

array([8.8, 8.6, 8.7, 9.2, 9. ])

In [24]:
#Aynı zamanda pandas serisini alıp, içindeki benzersiz değerleri bir NumPy array'ine dönüştürüyor.
type(df["IMDB Rating"].unique())

numpy.ndarray

In [25]:
#Nan değeri olan değerleri True olmayan değerleri False yapılır.
df.isnull()

   Movie name  Genre   Year  IMDB Rating
0       False  False  False        False
1       False  False  False        False
2       False  False  False        False
3       False  False  False        False
4       False  False  False        False
5       False  False  False        False

In [26]:
#İsnull() tam tersi şekilde çalışır.
df.notnull()

   Movie name  Genre  Year  IMDB Rating
0        True   True  True         True
1        True   True  True         True
2        True   True  True         True
3        True   True  True         True
4        True   True  True         True
5        True   True  True         True

In [30]:
#Her sütunda bütün değerler True (veya sıfır olmayan değerler) ise True, en az bir tane False (veya 0) varsa False döndürür
df.all()

Movie name     True
Genre          True
Year           True
IMDB Rating    True
dtype: bool

In [34]:
#Yıl sütununda 2000 den büyük değerleri sadece almak istenilince
df[df.Year > 2000]

        Movie name        Genre  Year  IMDB Rating
0        Inception  Bilim Kurgu  2010          8.8
1     Interstellar  Bilim Kurgu  2014          8.6
4  The Dark Knight      Aksiyon  2008          9.0
5         Parasite         Dram  2019          8.6

In [35]:
#İstenilen değerin dataframe de bulunup bulunmadığını görebilmek için str.contains ile birlikte kullanılarak bakılabilir.
df["Movie name"].str.contains("Train to Busan")

0    False
1    False
2    False
3    False
4    False
5    False
Name: Movie name, dtype: bool